* {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-button {
  width: 250px;
  height: 80px;
  font-size: 30px;
  background-color: rgb(221, 221, 142);
  margin: 20px;
  border-radius: 20px;
}

.main-button:hover {
  background-color: rgb(189, 189, 150);
  cursor: pointer;
}

.square {
  width: 80px;
  height: 80px;
  color: white;
  background-color: black;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  padding: 29px 0;
  margin: 15px;
}
